@import "assets/styles/mixin.scss";
@import "assets/styles/variable.scss";

.com-home {
  margin: 0 auto 35px auto;
  width: 90%;
  color: white;

  .text-container {
    margin-top: 20px;
    width: 100%;

    .title {
      text-align: center;
      font-size: 2rem;
    }
    .description {
      margin-top: 10px;
      font-size: 1rem;
    }
  }
  .form-container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    label {
      margin: 15px 10px 10px 10px;
      display: block;
    }

    input {
      margin: 4px 0;
      padding: 8px 10px;
      width: 100%;
      border: 1px solid black;
      border-radius: 3px;
      font-size: 1rem;
      color: black !important;

      &::placeholder {
        color: black;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    input[type="file"] {
      color: white !important;
    }

    .error {
      font-size: 0.7rem;
      color: red;
      display: block;
      margin-bottom: 6px;
    }

    .signup {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      cursor: pointer;
      background: gray;
      color: white;
      border-radius: 6px;
      &:hover {
        background: #4a4141;
      }
    }
  }
}
