// make sure all type is wrap under root component name, and component name must be unique
html,
body {
  height: 100%;
  background-image: url("https://star-wars.s3-ap-southeast-1.amazonaws.com/production/main-bg.jpg");
}
.com-app {
  height: 100%;
  margin: auto;

  nav ul {
    list-style: none;

    li a {
      text-decoration: none;
    }
  }
}
