@import "../../../assets/styles/mixin.scss";

.com-subscribers {
  margin: 0 auto 35px auto;
  width: 90%;
  color: white;
  .text-container {
    margin-top: 20px;
    width: 100%;

    .title {
      text-align: center;
      font-size: 2rem;
    }
  }
  .subscriber-list {
    max-width: 800px;
    margin: 50px auto;
    table {
      background-color: #ecececab;
    }
    tr {
      padding: 10px;
    }
    td {
      color: #0d0d0b;
      font-weight: 500;
    }
  }
  .com-subscriber {
    color: white;
    width: 100%;
    display: inline-block;
    padding: 8px 0;

    .id {
      width: 40px;
    }

    .photo {
      width: 200px;
      img {
        max-width: 60px;
        max-height: 80px;
      }
    }

    .firstname {
      width: 300px;
    }
    .lastname {
      width: 250px;
    }
  }
}
