@import "assets/styles/mixin.scss";
@import "assets/styles/variable.scss";

.com-success-signup {
  margin: 0 auto 35px auto;
  width: 90%;
  color: white;

  .text-container {
    width: 100%;
    text-align: center;
    .title {
      text-align: center;
      font-size: 2rem;
    }
    .description {
      margin-top: 40px;
      font-size: 1rem;
    }
  }
}
